<?xml version='1.0'?>
<model>
  <name>phantomx</name>
  <version>0.1.0</version>
  <author>
    <name>Philippe Capdepuy</name>
    <email>pc@humarobotics.com</email>
  </author>
  <sdf>urdf/phantomx.urdf</sdf>
  <description>
    This model approximates the PhantomX hexapod robot.
  </description>
</model>
